**/node_modules/
**/target/
**/idea/
**/dist/
*.idea
.idea/workspace.xml
package-lock.json
*.iml
# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
course_student/pubspec.lock
